/* Styles for contact page */
$sc-contact-red-color: #d14;
$sc-contact-red-color-dark: #FFA1A1;

.contact-us {
    --sc-contact-red: #{$sc-contact-red-color};
    margin-top: 0;
    padding: 6rem 0;
    background-clip: content-box;
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    flex-shrink: 0;
}

@media (prefers-color-scheme: dark) {
    .contact-us {
        --sc-contact-red: #{$sc-contact-red-color-dark};
    }
    .form-control {
        background-color: #{$sc-sub-level-bg-dark};
    }
}

.contact-card-block {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.contact-error, .contact-count-alert {
	color: var(--sc-contact-red);
}

.contact-required {
	color: var(--sc-contact-red);
    font-size: 2rem;
    line-height: 0.5rem;
    vertical-align: middle;
}

.characters-remaining {
    float: right;
    margin-top: -0.75rem;
}

.characters-remaining-warning {
    color: var(--sc-contact-red);
}

#contact-result svg {
    width: 56px;
    height: 56px;
}
