:root {
    --sc-navbar-bg: #{$sc-navbar-bg-light};
    --bs-navbar-toggler-hover-width: 0.125rem;
    --bs-body-font-size: 1.125rem;
    --bs-link-color: #{$sc-link-color};
    --bs-link-color-rgb: #{$sc-link-color-rgb};
    --bs-link-hover-color-rgb: #{$sc-link-color-rgb};
    --sc-link-visted-color: #{$sc-link-visited-color};

}

@include color-mode(dark) {
    :root {
        --sc-navbar-bg: #{$sc-navbar-bg-dark};
        --bs-link-color: #{$sc-link-color-dark};
        --bs-link-color-rgb: #{$sc-link-color-dark-rgb};
        --bs-link-hover-color-rgb: #{$sc-link-color-dark-rgb};
        --sc-link-visted-color: #{$sc-link-visited-color-dark};
    }
}

html{
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

:lang(ko) body {
    word-break: keep-all;
}

header a, section a, .modal a {
    &:link {
        transition: text-decoration-color 0.3s;
    }
    
    &:hover{
        text-decoration-color: transparent;
    }
    
    &:visited{
        color: var(--sc-link-visted-color);
    }
}

.navbar {
    font-size: 1.25rem;

    & img {
        height: 2.5rem;
        transition: height 500ms ease;

        @include media-breakpoint-up(md) {
            height: 3.875rem;
        }
    }

    @include media-breakpoint-up(md) {
        font-size: 1rem;
    }
}

.small-logo .navbar-brand img {
    height: 2.5rem;

    @include media-breakpoint-up(md) {
        font-size: 2rem;
    }
}

.navbar-brand {
    margin-right: 0;
}

.navbar {
    background-color: var(--sc-navbar-bg);
    padding: 0.3125rem 0;
}


.navbar {
    --bs-navbar-brand-color: #{$white};
    --bs-navbar-brand-hover-color: #{$white};
    --bs-navbar-color: #{$md-med-strong-white-text};
    --bs-navbar-active-color: #{$md-full-white-text};
    --bs-link-hover-color-rgb: 158, 197, 254;

    --bs-navbar-toggler-border-color: #{$md-med-strong-white-text};
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M2 4h22M2 12h22M2 21h22'/%3e%3c/svg%3e");
    --bs-btn-close-color: #{$md-full-white-text};
    --sc-flag-border: #{$gray-900}; // use a dark color to outline the flags against a light (white) background
}

// navbar order - logo in the middle to start, on left on tablets or larger
.navbar-brand {
    order: 2;
}

.navbar-toggler {
    order: 3;
}

@include media-breakpoint-up(md) {
    .navbar-brand {
        order: 0;
    }
}

.navbar-nav {
    --bs-nav-link-hover-color: #{$md-strong-white-text};
}

.navbar-nav .dropdown-menu {
    box-shadow: $sc-raised-bg-1-shadow;

    --bs-dropdown-link-active-bg: #{$sc-theme-light};
    --bs-dropdown-border-color: #{$sc-navbar-dropdown-border};
    --bs-dropdown-link-hover-bg: #{$sc-navbar-dropdown-hover-light};
}

.navbar .btn {
    --bs-btn-active-color: #fff;
}

.navbar-toggler:hover {
    text-decoration: none;
    box-shadow: 0 0 0 var(--bs-navbar-toggler-hover-width);
}

.nav-link.dropdown-toggle.active {
    color: var(--bs-navbar-active-color);
}

.navbar .offcanvas-md {
    background-color: #{$sc-theme-light};
    border-left: 0;
}

@include media-breakpoint-up(md) {
    [data-bs-toggle="offcanvas"] {
        pointer-events: none;
    }
}

@include color-mode(dark) {
    .navbar {
        --sc-flag-border: #{$body-tertiary-bg-dark}; // use the same color as the background as most flags stand out against a dark color
        --bs-navbar-toggler-border-color: #{$md-medium-white-text};
    }

    .navbar-nav .dropdown-menu {
        --bs-dropdown-bg: #{$body-tertiary-bg-dark};
        --bs-dropdown-link-active-bg: #{$sc-sub-level-bg-dark};
    }

    .dropdown-item {
        --bs-dropdown-link-color: #{$md-strong-white-text};
    }

    .dropdown-item:hover {
        --bs-dropdown-link-hover-color: #{$md-strong-white-text};
        --bs-dropdown-link-hover-bg: #{$body-bg-dark};

        & .flag-icon {
            border-color: #{$sc-general-bg-dark};
        }
    }

    .navbar .btn {
        --bs-btn-active-color: #{$md-strong-white-text};
    }

    .navbar .offcanvas-md {
        background-color: #{$sc-navbar-bg-dark};
        border-left: 0;
    }
}

.offcanvas-header .btn-close {
    background-size: contain;
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.87;
}

#navbarDropdownLanguageMenu {
    background-color: transparent;
    padding-left: 0.1875rem;
    padding-right: 0;

    .flag-icon {
        border-color: #{$sc-theme-light};
    }
}

@include color-mode(dark) {
    #navbarDropdownLanguageMenu {
        .flag-icon {
            border-color: #{$sc-navbar-bg-dark};
        }
    }
}

@include media-breakpoint-up(md) {
    .dropdown-menu-right-lg {
        right: 0;
        left: auto;
    }
}

.lang-dropdown .dropdown-menu {
    position: absolute;
    font-size: inherit;
}

.dropdown-menu .current-language {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--bs-dropdown-link-active-bg);
}

.current-language .flag-icon {
    border-color: #{$sc-theme-light};
}

@include color-mode(dark) {
    .current-language .flag-icon {
        border-color: #{$sc-sub-level-bg-dark};
    }
}

.flag-icon {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-color: var(--sc-flag-border);
    border-style: solid;
    border-width: 0.05em;
    position: relative;
    display: inline-block;
    width: 1.6em;
    height: 1.1em;
    line-height: 1em;
    margin-right: 0.5rem;

    &:before {
        content: "\00a0";
    }
}

.flag-icon-lg {
    margin-right: 0;
}

@include media-breakpoint-up(md) {
    .flag-icon {
        background-size: 1.375em 1em;
        border-width: 0.0625em;
        width: 1.5em;
        height: 1.125em;
    }
}

@import "../scss/flag_icons";

@keyframes slide-in {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.slide-in {
    -webkit-animation-name: slide-in;
    animation-name: slide-in;
    animation-duration: 0.4s;
    animation-fill-mode: both;
}

@media (prefers-reduced-motion) {
    .slide-in {
        animation-duration: 0ms;
        animation-fill-mode: none;
    }
}


@import "../scss/header";

.card {
    --bs-card-bg: #{$white};
    box-shadow: #{$sc-raised-bg-1-shadow};
}

@include color-mode(dark) {
    .card {
        --bs-card-bg: #{$sc-raised-bg-1-dark};
    }
}

section {
    padding: 4.5rem 0;
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    flex-shrink: 0;
}

.card-section {
    padding: 4rem 0;
    position: relative;
    overflow: hidden;
    z-index: 0;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
}

.scss-diagram {
    border: 1px solid var(--bs-border-color);
    border-radius: .1875rem;
}

/* container div for tables */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* standard color (sc) table */
.sc-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    color: inherit;
}

.sc-table th {
    font-weight: bold
}

.sc-table td {
    font-size: 0.75rem;
    font-family: var(--bs-font-monospace);
    white-space: nowrap;
}

.sc-table th,
.sc-table td {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 10px 5px;
    text-align: center;
    vertical-align: top
}

/* system font table */
.font-table {
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
    color: inherit;
}

.font-table th {
    font-weight: bold
}

.font-table th:first-child {
    width: 35%;
}

.font-table th,
.font-table td {
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 0.3125rem;
}

.table-bordered1 {
    border: 1px solid #dee2e6;
}


footer {
    width: 100%;
    background-color: #{$body-tertiary-bg-dark};
    font-size: 87.5%;
    z-index: 0;
    --sc-link-color: #{$sc-link-color-dark};
    --sc-link-visted-color: #{$sc-link-visited-color-dark};

    & a,
    a:link {
        color: var(--sc-link-color);
        text-decoration: underline;
        transition: text-decoration-color 0.3s;
    }

    & a:visited {
        color: var(--sc-link-visted-color);
    }

    & a:hover {
        text-decoration-color: transparent;
    }
}

.terms-link {
    border-top: 1px solid #212529;
}

@include color-mode(dark) {
    .terms-link {
        border-top-color: #787b7f;
    }
}


// Carousel styles
.structure-carousel-container {
    position: relative;
    width: 100%;
    aspect-ratio: 154 / 85;
    margin-bottom: 1.5rem;
}

.structure-carousel {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--bs-body-color);
    background: var(--bs-tertiary-bg);
    border: 1px solid var(--bs-border-color);
    border-radius: 0.1875rem;
    padding-bottom: 3rem;
}

.carousel-inner {
    margin-top: 0.125rem;
}

/* Override the default transition: opacity 0s .6s so the prior image fades out at the same rate. */
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity #{$carousel-transition-duration};
}


.carousel-control-prev,
.carousel-control-next {
    align-items: flex-end;
}

.carousel .carousel-control-prev-icon,
.carousel .carousel-control-next-icon {
    filter: invert(1) grayscale(100);
    margin-bottom: 4rem;
}

.carousel-indicators {
    bottom: -2.25rem;
    margin-bottom: 0;
    filter: invert(1);
}

.carousel .carousel-caption {
    top: 0;
    left: 50%;
    right: unset;
    text-align: left;
    color: inherit;
}

@include color-mode(dark) {
    .structure-carousel {
        background-color: #{$sc-sub-level-bg-dark};
    }

    .carousel .carousel-control-prev-icon,
    .carousel .carousel-control-next-icon {
        filter: invert(0);
    }
}

.ie-notice {
    color: #212529;
    background-color: #fdf2ab;
    border: solid 1px #888888;
    height: 48px;
    line-height: 48px;
    margin-left: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: serif;
}

.ie-notice svg {
    width: 24px;
    height: 20px;
    margin-left: 0.5rem;
}